In [2]:
import pandas as pd

In [3]:
train = pd.read_csv("../input/train.csv")
train.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [4]:
test = pd.read_csv("../input/test.csv")
test.head()

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White

In [5]:
sample = pd.read_csv("../input/sample_submission.csv")
sample.head()

   ID  Adoption  Died  Euthanasia  Return_to_owner  Transfer
0   1         1     0           0                0         0
1   2         1     0           0                0         0
2   3         1     0           0                0         0
3   4         1     0           0                0         0
4   5         1     0           0                0         0

In [6]:
train_X = train.drop(columns=["OutcomeType", "OutcomeSubtype", "AnimalID"])
test_X = test

stacked_df = train_X.append(test_X.drop(columns=["ID"]))
stacked_df = stacked_df.drop(columns=["DateTime"])
stacked_df.head()

,Name,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,Hambone,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,Emily,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,Pearce,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,NaN,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,NaN,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [7]:
print(stacked_df.info())
print(stacked_df.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38185 entries, 0 to 11455
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            27269 non-null  object
 1   AnimalType      38185 non-null  object
 2   SexuponOutcome  38184 non-null  object
 3   AgeuponOutcome  38161 non-null  object
 4   Breed           38185 non-null  object
 5   Color           38185 non-null  object
dtypes: object(6)
memory usage: 2.0+ MB
None
(38185, 6)

In [8]:
for col in stacked_df.columns:
    if stacked_df[col].isnull().sum() > 1000:
        stacked_df = stacked_df.drop(columns=[col])

In [9]:
stacked_df.head()

,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [10]:
from sklearn import preprocessing

lbl_enc = preprocessing.LabelEncoder()
for col in stacked_df.columns:
    if stacked_df.dtypes[col] == "object":
        stacked_df[col] = stacked_df[col].fillna("NONE")
    else:
        stacked_df[col] = stacked_df[col].fillna(0)
        
    stacked_df[col] = lbl_enc.fit_transform(stacked_df[col])

In [11]:
#stacked_df.head()
stacked_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38185 entries, 0 to 11455
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalType      38185 non-null  int64
 1   SexuponOutcome  38185 non-null  int64
 2   AgeuponOutcome  38185 non-null  int64
 3   Breed           38185 non-null  int64
 4   Color           38185 non-null  int64
dtypes: int64(5)
memory usage: 1.7 MB

In [12]:
for col in stacked_df.columns:
    stacked_df[col] = stacked_df[col].astype("category")
    
print(stacked_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38185 entries, 0 to 11455
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalType      38185 non-null  category
 1   SexuponOutcome  38185 non-null  category
 2   AgeuponOutcome  38185 non-null  category
 3   Breed           38185 non-null  category
 4   Color           38185 non-null  category
dtypes: category(5)
memory usage: 677.6 KB
None

In [13]:
X = stacked_df[:26729]
test_processed = stacked_df[26729:]
print(f"train={X.shape}, original={train.shape}")
print(f"test={test_processed.shape}, original={test.shape}")

train=(26729, 5), original=(26729, 10)
test=(11456, 5), original=(11456, 8)

In [14]:
Y = train["OutcomeType"]
Y = lbl_enc.fit_transform(Y)

In [15]:
from sklearn import model_selection
xtrain, xval, ytrain, yval = model_selection.train_test_split(
    X, 
    Y, 
    test_size=0.10, 
    random_state=0
)

xtrain.head()

      AnimalType SexuponOutcome AgeuponOutcome Breed Color
6917           1              3              5  1293   146
13225          0              4             33  1515   231
2697           1              4              5  1353    43
21905          1              3             31   245    40
17071          0              4             37   775   156

In [23]:
embed_cols = {n: len(col.cat.categories) for n, col in X.items()}
embed_cols

{'AnimalType': 2,
 'SexuponOutcome': 6,
 'AgeuponOutcome': 46,
 'Breed': 1678,
 'Color': 411}

In [24]:
embed_cols = {n: len(col.cat.categories) for n, col in X.items() if len(col.cat.categories) > 2}
embed_cols

{'SexuponOutcome': 6, 'AgeuponOutcome': 46, 'Breed': 1678, 'Color': 411}

In [25]:
embed_cols_names = embed_cols.keys()
embed_cols_names

dict_keys(['SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'])

In [26]:
embed_size = [(n_categories, min(50, (n_categories+1)//2)) for _, n_categories in embed_cols.items()]
embed_size

[(6, 3), (46, 23), (1678, 50), (411, 50)]

In [28]:
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader

import numpy as np

In [29]:
class ShelterOutcomeDataset(Dataset):
    def __init__(self, X, Y, embed_cols_names):
        X = X.copy()
        self.X1 = X.loc[:,embed_cols_names].copy().values.astype(np.int64)
        self.X2 = X.drop(columns=embed_cols_names).copy().values.astype(np.float32)
        self.y = Y
        
    def __len__(self):
        return len(self.y)
        
    def __getitem__(self, idx):
        return self.X1[idx], self.X2[idx], self.y[idx]

In [32]:
train_dataset = ShelterOutcomeDataset(xtrain, ytrain, embed_cols_names)
valid_dataset = ShelterOutcomeDataset(xval, yval, embed_cols_names)

In [ ]:
class ShelterOutcomeModel(nn.Module):
    def __init__(self, embed_size, n_count):
        super().__init__()